
  
<li class="comments" id="comment_li-<%=comment.id %>">
	<div class="user_avatars"><% if User.find(comment.user_id).avatar_url.nil? %>
	  	    <%= image_tag "eggTastic.jpg", id: 'eggTastic', class: 'avatar' %>
	  	  <% else %>
	  	    <%= image_tag User.find(comment.user_id).avatar_url(:avatar).to_s, class: 'avatar' %></td>
	  	  <% end %>
	  	  
	</div>
	<div class="comment_header"><div class="user_names"><%= User.find(comment.user_id).username %>
		<span class="posted">posted <%= time_ago_in_words(comment.created_at) %> ago.</span>
		
		<span class="comment_closer"><% if current_user.try(:id) == comment.user_id || current_user.try(:admin) %> 
  	        <%= link_to 'x', entry_comment_path(comment.commentable_id, comment),
  		      method: :delete, data: { confirm: "Are you sure?" }, id: 'delete_comment', remote: true  %>
  	     <% end %></span></div>
    </div>
    
    <div class="comment_content">
    	
    	<%= simple_format(comment.content) %>
    	
    </div>	
</li>
