<h3><%= @entry.title %></h3>
<%= render @entry.photos %>
<%= simple_format(@entry.content) %>
<br />
<%= link_to 'Edit', edit_entry_path(@entry.id) if current_user.try(:admin?) %>
<%= link_to 'Back', entries_path %>
