<div>
  <h1>Archive</h1>
  <ul id='archive'>
    <li>
      <h3>2009</h3>
      <ul>
        <li><%= link_to "May", entry_archive_path(year: '2009', month: '5', entry_id: '0') %></li>
        <li><%= link_to "June", entry_archive_path(year: '2009', month: '6', entry_id: '0') %></li>
        <li><%= link_to "July", entry_archive_path(year: '2009', month: '7', entry_id: '0') %></li>
        <li><%= link_to "August", entry_archive_path(year: '2009', month: '8', entry_id: '0') %></li>
        <li><%= link_to "September", entry_archive_path(year: '2009', month: '9', entry_id: '0') %></li>
        <li><%= link_to "October", entry_archive_path(year: '2009', month: '10', entry_id: '0') %></li>
        <li><%= link_to "November", entry_archive_path(year: '2009', month: '11', entry_id: '0') %></li>
        <li><%= link_to "December", entry_archive_path(year: '2009', month: '12', entry_id: '0') %></li>
      </ul>
    </li>
    <li>
      <h3>2010</h3>
      <ul>
        <li><%= link_to "January", entry_archive_path(year: '2010', month: '1', entry_id: '0') %></li>
        <li><%= link_to "Feburary", entry_archive_path(year: '2010', month: '2', entry_id: '0') %></li>
        <li><%= link_to "March", entry_archive_path(year: '2010', month: '3', entry_id: '0') %></li>
        <li><%= link_to "April", entry_archive_path(year: '2010', month: '4', entry_id: '0') %></li>
        <li><%= link_to "May", entry_archive_path(year: '2010', month: '5', entry_id: '0') %></li>
        <li><%= link_to "June", entry_archive_path(year: '2010', month: '6', entry_id: '0') %></li>
        <li><%= link_to "July", entry_archive_path(year: '2010', month: '7', entry_id: '0') %></li>
        <li><%= link_to "August", entry_archive_path(year: '2010', month: '8', entry_id: '0') %></li>
        <li><%= link_to "September", entry_archive_path(year: '2010', month: '9', entry_id: '0') %></li>
        <li><%= link_to "October", entry_archive_path(year: '2010', month: '10', entry_id: '0') %></li>
      </ul>
    </li>
    <li>
      <h3>2011</h3>
      <ul>
        <li><%= link_to "January", entry_archive_path(year: '2011', month: '1', entry_id: '0') %></li>
        <li><%= link_to "April", entry_archive_path(year: '2011', month: '4', entry_id: '0') %></li>
        <li><%= link_to "May", entry_archive_path(year: '2011', month: '5', entry_id: '0') %></li>
        <li><%= link_to "June", entry_archive_path(year: '2011', month: '6', entry_id: '0') %></li>
        <li><%= link_to "July", entry_archive_path(year: '2011', month: '7', entry_id: '0') %></li>
        <li><%= link_to "August", entry_archive_path(year: '2011', month: '8', entry_id: '0') %></li>
        <li><%= link_to "September", entry_archive_path(year: '2011', month: '9', entry_id: '0') %></li>
        <li><%= link_to "October", entry_archive_path(year: '2011', month: '10', entry_id: '0') %></li>
        <li><%= link_to "November", entry_archive_path(year: '2011', month: '11', entry_id: '0') %></li>
        <li><%= link_to "December", entry_archive_path(year: '2011', month: '12', entry_id: '0') %></li>
      </ul>
    </li>
    <li>
      <h3>2012</h3>
      <ul>
        <li><%= link_to "January", entry_archive_path(year: '2012', month: '1', entry_id: '0') %></li>
        <li><%= link_to "Feburary", entry_archive_path(year: '2012', month: '2', entry_id: '0') %></li>
        <li><%= link_to "March", entry_archive_path(year: '2012', month: '3', entry_id: '0') %></li>
      </ul>
    </li>
  </ul>
</div>