<%= form_for [@entry, @photo], :html => { :multipart => true } do |f| %>
  <% if @photo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@photo.errors.count, "error") %></h2>
       <ul>
       <% @photo.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
       <% end %>
       </ul>
    </div>
   <% end %>
   <%= f.hidden_field :entry_id %>
   <div class="field">
     <%= f.label :caption %><br>
     <%= f.text_field :caption %>
   </div>
   <div class="field">
     <%= f.file_field :image %><br>
   </div>

   <div class="actions">
     <%= f.submit %>
   </div>
<% end %>
<br />
<%= link_to 'Back', entry_path(params[:entry_id]) %>