<%# navigation styled for Bootstrap 3.0 %>
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
  <%= image_tag "me_me.jpg", class: "me_pic" %>
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <!--<%= link_to 'Home', root_path, class: 'navbar-brand', id: "logo" %>-->
      <% unless params[:controller] == 'visitors' %>
      <%= link_to 'Blog', entries_path, class: 'navbar-brand', id: 'logo' %>
      <%= link_to 'New entry', new_entry_path, class: 'navbar-brand', id: 'logo' %>
      <%= link_to 'Sign in', new_user_session_path, class: 'navbar-brand', id: 'logo' %>
      <% end %>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <%= render 'layouts/navigation_links' %>
      </ul>
    </div>
  </div>
</nav>
